body{
    margin: 0;
}
.header{
    background-color: #f0f2ed;
    height: 80px;

}
.upBlock{
    /*outline:1px solid red;*/
    width: 996px;
    height: 80px;
    margin: 0 auto;

}
.logo{
    float: left;
    margin: 14px 0 0 20px;

}
.contact{
    float: right;
    border: 2px solid gold;
    padding: 4px;
    margin: 14px 60px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: static;
    /*margin: ;*/
}
.content{
    width: 996px;
    height: auto;
    outline: 2px solid green;
    margin: auto;
    position: relative;


}
.cityPic{
    background-image: url("../images/city.jpg");
    height: 281px;
    width: 996px;
    margin: 0 auto;
    /*outline:1px solid red;*/
}
.tagline{
    height: 100px;
    width: 397px;
    padding: 10px 0 16px 30px;
    float: right;
    margin: 75px 0 0 0;
    background-color: black;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 130%;
    color: white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.goldBlock{
    /*outline: 1px solid palevioletred;*/
    background-color: #E5B604;
    width: auto;
    height: 40px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
}
.services_text{
    /*outline: 1px solid green;*/
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
}
.monitoring_text{
    position: absolute;
    width: 996px;
    margin: 0 0 0 0;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9rem;
}
.triangle{
    /*outline: 1px solid darkblue;*/
}
.slider{
    /*background-color: aqua;*/
    width: auto;
    height: 210px;
    padding:20px 5px 20px 5px;
    align-content: center;



}
.slid{
     display: inline-block;
     height: 200px;
     width: 32%;
     /*outline:1px solid red;*/
     text-align: center;
     margin: 0 5px 0 5px;
     vertical-align: middle;

 }
.slid .slid_text{
     display: block;
     font-family: Geneva, Arial, Helvetica, sans-serif;
 }
.obd{
    position: relative;
    padding: 60px 0 0 0;
    width: 100%;
    background-image: url("../images/background-grey2.png");
}
.obd_text{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 0 20px 0 20px;

}
.cardroid{
    align-content: center;
    margin:0 0 0 12%;
}
