body{
    margin: 0;
}
#header{
    background-color: #f0f2ed;
    height: 80px;

}
#header1{
    outline:1px solid red;
    width: 996px;
    height: 80px;
    margin: 0 auto;

}
#canada{
    float: left;
    margin: 14px 0 0 20px;

}
#contact{
    float: right;
    border: 2px solid gold;
    padding: 4px;
    margin: 14px 60px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: static;
    /*margin: ;*/
}
#content{
    width: 996px;
    height: 1000px;
    outline: 2px solid green;
    margin: auto;
    position: relative;


}
#city{
    background-image: url("../images/city.jpg");
    height: 281px;
    width: 996px;
    margin: 0 auto;
    /*outline:1px solid red;*/
}
#monitor{
    height: 100px;
    width: 397px;
    padding: 10px 0 16px 30px;
    float: right;
    margin: 75px 0 0 0;
    background-color: black;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 130%;
    color: white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
#goldBlock{
    /*outline: 1px solid palevioletred;*/
    background-color: #E5B604;
    width: auto;
    height: 40px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
}
#services{
    /*outline: 1px solid green;*/
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
}
#monitoring{
    position: absolute;
    width: 996px;
    margin: 0 0 0 0;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9rem;
}
#triangle{
    outline: 1px solid darkblue;
}
#block1{
    background-color: aqua;
    width: auto;
    height: 240px;
    padding:20px 5px 20px 5px;
    align-content: center;



}
 .logo{
     display: inline-block;
     height: 200px;
     width: 150px;
     outline:1px solid red;
     text-align: center;
     margin: 0 5px 0 5px;
 }
