.header {
  height: 80px;
  line-height: 80px;
  background-color: #f0f2ed;
}
.header .container {
  outline: 1px solid #f00;
  width: 996px;
  height: 100%;
  line-height: 100%;
  margin: 0 auto;
}
.content {
  width: 996px;
  height: auto;
  outline: 2px solid #008000;
  margin: auto;
  position: relative;
}
.cityPic {
  background-image: url("../images/city.jpg");
  height: 281px;
  line-height: 281px;
  width: 996px;
  margin: 0 auto;
ghfghf
}
.content {
  width: 996px;
  height: auto;
  outline: 2px solid #008000;
  margin: auto;
  position: relative;
}
.cityPic {
  background-image: url("../images/city.jpg");
  height: 281px;
  line-height: 281px;
  width: 996px;
  margin: 0 auto;
}
