.contact
  float right
  padding-right 100px

  &__btn
    font-size 1.4rem
    text-transform uppercase
    font-family Geneva Arial Helvetica sans-serif
    border 2px solid contact_btn-color
    padding 10px
    position relative
    top 50%
    margin-top -21px
    cursor pointer
