@import 'vars.styl';
.header
  height 80px
  line-height 80px
  background-color header-color
  .container
    outline 1px solid red
    width 996px
    height 100%
    line-height 100%
    margin 0 auto
  &__logo, &__contact
