green = #008000
gold = #ffd700
width_996 = 996px
city-pic = "../images/city.jpg"

.header
  background-color #f0f2ed
  height 80px
    //line-height 80px
.upBlock
  width width_996
  height 80px
  margin 0 auto

  .logo
    float left
    margin: 14px 0 0 20px
  .contact
    float right
    height 40px
    width 160px
    text-align center
    padding 10px 4px 0 4px
    border 3px solid gold
    margin 13px 60px 15px 0
    font-size 1.4rem
    text-transform uppercase
    font-family Geneva Arial Helvetica sans-serif
    position static
.content
    width width_996
    height auto
    outline 2px solid green
    margin auto
    position relative
  .cityPic
    background-image url(city-pic)
    height 281px
    line-height 281px
    width width_996
    margin 0 auto
