@import "header.styl"
@import "content.styl"
@import "vars.styl"
  content
      width 996px
      height auto
      outline 2px solid green
      margin auto
      position relative
    .cityPic
      background-image url("../images/city.jpg")
      height 281px
      line-height 281px
      width 996px
      margin 0 auto
