@import 'vars.styl';

.header
  height 80px
  line-height 80px
  background-color header-color
  &__container
    width 996px
    margin 0 auto
    height 100%
    line-height 100%
  &__logo, &__contact
    height 100%
    line-height 100%
    display inline-block

  @import 'logo.styl';

  @import 'contact.styl';


