.footer
  background-color #313330
  width 100%
  height 250px
  align-content center
  margin 0 auto
  text-align center

  &__wrapper
    //outline 1px solid red
    width 996px
    margin 0 auto
    padding 50px
    height 60%
    position relative
    display inline-block
    vertical-align middle
  .wrapper
    &__aboutUs
      float left
      width 60%
      text-align justify
      font-family Geneva, Arial, Helvetica, sans-serif
      color white
      font-size 1rem
      position relative
    &__links
      width 20%
      float right
      text-align left
      font-family Geneva, Arial, Helvetica, sans-serif
      color white
      font-size 1rem
      position relative
  .gold-text
    color gold
  .white-links
    color white
    text-decoration: none
