.header
  height 80px
  line-height 80px
  background-color #f0f2ed
  &__container
    width 996px
    margin 0 auto
    height 100%
    line-height 100%
    outline 1px solid red
  &__logo, &__contact
    height 100%
    line-height 100%
    display inline-block
  .contact
    float right
    border: 2px solid gold;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: Geneva, Arial, Helvetica, sans-serif;
